<nav class="navbar">
  <!-- Menú hamburguesa -->
  <div class="navbar-start">
    <button class="menu-toggle" (click)="toggleDropdown()">
      ☰
    </button>
    <ul class="dropdown" [class.hidden]="!menuAbierto">
      <li><a routerLink="/inicio" (click)="toggleDropdown()">Inicio</a></li>
      <li><a routerLink="/citas" (click)="toggleDropdown()">Citas</a></li>
      <li><a routerLink="/clientes" (click)="toggleDropdown()">Clientes</a></li>
      <li><a routerLink="/contactar" (click)="toggleDropdown()">Contactar</a></li>
      <li><a routerLink="/pqrds" (click)="toggleDropdown()">PQRDS</a></li>
      
    </ul>
  </div>

  <!-- Logo o título -->
  <div class="navbar-center">
    <a href="#" class="brand">ADMINISTRADOR DATAPETS</a>
  </div>

  <!-- Iconos -->
  <div class="navbar-end">
    <button class="icon-button">🔍</button>
    <button class="icon-button">
      🔔<span class="notification-dot"></span>
    </button>
  </div>
</nav>
