<div class="contenedor2">
  <div class="container">
    <div class="row">

      <!-- Contacto -->
      <div class="col-md-6 mb-4 centrar">
        <h1 class="fw-bold mb-4">¡CONTÁCTANOS!</h1>
        <p><i class="bi bi-telephone-fill"></i> Teléfono:<br>(602) 554 56 56</p>
        <p><i class="bi bi-envelope-fill"></i> Correo:<br>contacto&#64;empresa.com</p>
        <div class="mt-4">
          <a href="#"><i class="bi bi-whatsapp fs-4"></i></a>
          <a href="#"><i class="bi bi-share-fill fs-4"></i></a>
          <a href="#"><i class="bi bi-facebook fs-4"></i></a>
        </div>
      </div>

      <!-- Mapa -->
      <div class="col-md-6 text-center">
        <a href="https://www.google.com.ar/maps/search/veterinaria/@3.4352006,-76.5385202,21z?hl=es" target="_blank">
          <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/02/google-maps-2961754.jpg?tf=3840x" alt="Mapa" class="img-fluid">
        </a>
      </div>

    </div>
  </div>

  <a href="#" class="arrow-up">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <p class="copy">Copyright all right reserved - DataPets</p>
</div>
